.pollPreview {
  cursor: pointer;

  &:hover {
    border: var(--color-primary) solid 2px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
  }

  &__image {
    width: 400px;
    height: 600px;
    object-fit: cover;
    filter: brightness(0.8);
  }

  &:hover &__image {
    filter: brightness(1);
  }
}
