.pollPreview {
  cursor: pointer;

  &:hover {
    border: var(--color-primary) solid 2px;
  }

  &__image {
    width: 400px;
    height: 600px;
    object-fit: cover;
    filter: brightness(0.8);
  }

  &:hover &__image {
    filter: brightness(1);
  }
}
